Host pseudo_cloud9
  HostName {{PSEUDO_CLOUD9_HOST_IP}}
  User ec2-user
  IdentityFile {{SSH_PRIVATE_KEY_PATH}}
  IdentitiesOnly yes
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  LogLevel quiet
  ConnectTimeout 3
