#
# awsコマンド用
#
export AWS_DEFAULT_REGION=ap-northeast-1
export AWS_PAGER=''

#
# CloudFormation(CFn)のスタック名
#
export BASE_STACK_NAME=sbcntr-base
export PSEUDO_CLOUD9_STACK_NAME=sbcntr-pseudo-cloud9

# .envrc.overrideがあれば読み込む
source_env_if_exists .envrc.override
