#
# awsコマンド用
#
export AWS_DEFAULT_REGION=ap-northeast-1
export AWS_PAGER=''

#
# sshコマンド用
#
export SSH_PRIVATE_KEY_PATH=$HOME/.ssh/id_ed25519
export SSH_CONFIG_FILE=$PWD/.ssh/config

#
# CloudFormation(CFn)のスタック名
#
export BASE_STACK_NAME=sbcntr-base
export PSEUDO_CLOUD9_STACK_NAME=sbcntr-pseudo-cloud9
export REGISTRY_STACK_NAME=sbcntr-registry
export VPC_ENDPOINT_STACK_NAME=sbcntr-vpcendpoint
export TARGET_GROUP_FRONTEND_STACK_NAME=sbcntr-tg-frontend
export ALB_FRONTEND_STACK_NAME=sbcntr-alb-frontend
export IAM_ROLE_ECS_BLUEGREEN_STACK_NAME=sbcntr-iam-role-ecs-bluegreen
export TASK_DEF_FRONTEND_APP_STACK_NAME=sbcntr-task-def-frontend-app
export ECS_CLUSTER_STACK_NAME=sbcntr-ecs-cluster

# .envrc.overrideがあれば読み込む
source_env_if_exists .envrc.override
